# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Dataset files (if they're large)
*.csv
*.xlsx
*.xls

# OS specific
.DS_Store
Thumbs.db 